mixin filter()
  section.filter&attributes(attributes)
    h2.visually-hidden!= "Фильтр"
    form.filter__form
      .filter__transfer
        fieldset.filter__type.filter__type--transfer
          legend.filter__title!= "Количество пересадок"
          ul.filter__checkboxes-list
            li.filter__checkboxes-item
              +custom-toggle({
                inputLabel: "Все",
                inputName: "filter-transfer",
                inputChecked: true,
                inputValue: "all"
              })(data-validate-type="checkbox").custom-toggle--checkbox
            li.filter__checkboxes-item
              +custom-toggle({
                inputLabel: "Без пересадок",
                inputName: "filter-transfer",
                inputChecked: false,
                inputValue: "non-stop",
              })(data-validate-type="checkbox").custom-toggle--checkbox
            li.filter__checkboxes-item
              +custom-toggle({
                inputLabel: "1 пересадка",
                inputName: "filter-transfer",
                inputChecked: false,
                inputValue: "stops-1"
              })(data-validate-type="checkbox").custom-toggle--checkbox
            li.filter__checkboxes-item
              +custom-toggle({
                inputLabel: "2 пересадки",
                inputName: "filter-transfer",
                inputChecked: false,
                inputValue: "stops-2"
              })(data-validate-type="checkbox").custom-toggle--checkbox
            li.filter__checkboxes-item
              +custom-toggle({
                inputLabel: "3 пересадки",
                inputName: "filter-transfer",
                inputChecked: false,
                inputValue: "stops-3"
              })(data-validate-type="checkbox").custom-toggle--checkbox

