mixin sorting()
  .sorting&attributes(attributes)
    form.sorting__form
      fieldset.sorting__order
        legend.visually-hidden!= "Показать сначала:"
        ul.sorting__order-list
          li.sorting__order-tab
            input(id="sort-cheap", type="radio", name="sorting-order", value="cheap", checked).visually-hidden
            label(for="sort-cheap")!= "Самый дешевый"
          li.sorting__order-tab
            input(id="sort-fast", type="radio", name="sorting-order", value="fast").visually-hidden
            label(for="sort-fast")!= "Самый быстрый"

