.product {
  padding: 20px;
  background-color: $color-default-white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    min-height: 40px;
  }

  &__price {
    flex-grow: 0.5;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: $color-dodger-blue;
  }

  &__image {
    display: inline-flex;
    text-align: right;
    width: auto;
    max-height: 100%;
    height: 100%;
  }

  &__table {
    max-width: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.1;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }

  &__table-col {
    max-width: 35%;
    width: 100%;
    padding-right: 20px;
  }

  &__table-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    color: $color-gull-grey;
    text-transform: uppercase;
  }
}
